   body{
            background-color: slategray;
            color: white;
            font-family: arial;
        }
.heading{
    font-size: 30px;
    font-weight: bold;
}

.js-grid , .todo-grid {
    display: grid;
   grid-template-columns: 230px 190px 100px;
   column-gap: 12px;
   row-gap: 12px;
   margin-top: 10px;
   align-items: center;
}

.name-input , .duedate-input{
    font-size: 20px;
    padding: 8px;
}

.add-button {
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    background-color: green;
    color: white;
}

.delete-button{
    background-color: darkred;
    color: white;
    border: none;
    padding: 8px;
}

.todo-grid{
    font-size: 20px;
}
