.page-container {

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;

    background-image: url(bg.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.heading1 {
    font-family: arial;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin: 0;
}

.sub-heading {
    font-family: arial;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: rgb(216, 213, 213);

}

.login-card {
    display: flex;
    flex-direction: column;
    background-color: rgba(109, 107, 107, 0.8);
    color: white;
    padding: 40px;
    border-radius: 12px;
    width: 100%;
    max-width: 600px;
    box-shadow: 0px 12px 32px rgba(238, 232, 232, 0.5);
}
.input-group{
    margin-top: 20px;
    line-height: 24px;
}

.search{
    font-size: 18px;
    width: 300px;
    padding: 10px;
    border-radius: 12px;
    border: 1px solid white;
    font-size: 11px;
}

.sign-in{
    margin-top: 20px;
    width: 200px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid rgb(105, 2, 2);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(105, 2, 2);
    color: white;
    transition: 0.15s;
    cursor: pointer;
}
.sign-in:hover{
     width: 220px;
     height: 40px;
     box-shadow: 0px 0px 10px rgba(226, 221, 221, 0.75);
}
.sign-in:active{
    opacity: 0.5;
}
